 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
body{
    color: #fbfbfb;
    font-family: 'Poppins', sans-serif;
    background-image: url("./ss.png");
    background-size: cover;
   
}
header{
    float:right;
    
}
nav a{
   color: #ffffff;
   font-size:20px
}
h1{
    color:#ffffff;
}
